.avatar {
  display: flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: var(--Background);
  padding: 6px 10px;
  color: var(--ColorText);
  border-radius: var(--BorderRadius);
  border: 1px solid var(--ColorOutline);
}
.avatar img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.network-information button {
  width: 100%;
}
.network-information .flex-row {
  margin-top: 2px;
  padding: 0;
}

.avatar-wrapper {
  display: flex;
  flex-direction: column;
  padding: 6px 12px;
  gap: 0.4rem;
}