.center-modal {
  position: fixed;
  left: 0;
  top: 0;
  min-width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
  min-height: 100vh;
  z-index: 200;
  padding: 1rem;
}
.center-modal__content {
  background-color: var(--Background);
  border: 1px solid var(--ColorOutline);
  border-radius: var(--BorderRadius);
  position: absolute;
  width: calc(100% - 2rem);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  top: 50%;
  transform: translateY(-50%);
  padding: 1rem;
}
.center-modal__content ul {
  list-style-type: none;
  padding-left: 0;
}
.center-modal__content ul li {
  padding: 0.2rem;
  position: relative;
  padding-left: 1.5rem;
}
.center-modal__content ul li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 0.5rem;
  height: 0.5rem;
  background-color: var(--ColorBlue);
  border-radius: 50%;
}
@media (min-width: 1224px) {
  .center-modal__content {
    max-width: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.center-modal__title {
  margin-bottom: 1rem;
}