.console {
	background-color: var(--ColorContainer);
	border-radius: var(--BorderRadius);
	border: 1px solid var(--ColorOutline);
	overflow: hidden;
	user-select: none;
	width: 100%;
	height: 100%;

	&__header {
		background-color: var(--Background);
		padding: 0.4rem 1rem;
		outline: 1px solid var(--ColorOutline);
	}

	&__body {
		width: 100%;
		display: flex;
		flex-direction: column;
		height: 100%; /* Ensure the body fills the entire height */
		max-height: calc(
			100% - 2.8rem
		); /* Adjust based on header height and other margins */
		overflow-y: auto; /* Enable vertical scrolling */
	}

	&__message {
		padding: 0.2rem 1rem;
		width: 100%;
		display: flex;
		justify-content: space-between;
		gap: 1rem;
	}
}
