.evidence-tile {
	padding: 6px 10px;
	display: flex;
	justify-content: space-between;
	color: var(--ColorText);
	border: 1px solid var(--ColorOutline);
	border-radius: var(--BorderRadius);
	font-weight: 700;
	background-color: var(--Background);

	cursor: pointer;

	&:hover {
		color: var(--ColorAccent);
		border: 1px solid var(--ColorAccent);
		//border: 1px solid var(--ColorBlue) !important;
		svg {
			//color: #fff !important;
			color: var(--ColorBlue);
		}
	}

	&--selected {
		background-color: var(--ColorSolidGreen);
		font-weight: 700;
		color: var(--Background);
		//border: 1px solid var(--ColorSolidGreen);

		&:hover {
			//border: 1px solid var(--ColorBlue);
			background-color: var(--Background);
		}

		svg {
			color: var(--Background) !important;
		}
	}

	svg {
		color: var(--ColorAccent);
		height: 1.2rem;
		width: 1.2rem;
	}

	&--not-selected {
		font-weight: 700;
		color: var(--Background);
		background-color: var(--ColorSolidRed);
		text-decoration: line-through;
		border: 1px solid var(--ColorSolidRed);

		svg {
			color: var(--Background);
		}

		&:hover {
			border: 1px solid var(--ColorAccent);
			background-color: var(--Background);
		}
	}
}
