.ghost-tile {
	display: flex;
	flex-direction: column;
	//background-color: var(--ColorContainer);
	border: 1px solid var(--ColorOutline);
	position: relative;
	cursor: pointer;
	user-select: none;
	transition: all 150ms ease-in-out;
	border-radius: var(--BorderRadius);
	box-shadow: var(--Shadow);
	//background-color: var(--ColorContainer);
	//height: fit-content;

	&__header {
		display: flex;
		justify-content: space-between;
		gap: 0.4rem;
		padding: 6px 6px;
		border-radius: var(--BorderRadius) var(--BorderRadius) 0 0;
		align-items: center;
	}

	h3 {
		font-weight: 500;
	}

	&__clues {
		display: flex;
		gap: 0.2rem;
		color: var(--ColorText);

		svg {
			width: 1.2rem;
			height: 1.2rem;
		}

		&--collapsed {
			position: absolute;
			//top: 0;
			right: 1rem;
		}
	}

	&__content {
		padding: 6px;
		margin-bottom: 4rem;
		display: flex;
		flex-direction: column;
		gap: 0.4rem;
	}

	&__footer {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		//background-color: var(--ColorContainer);
		border-radius: 0 0 var(--Border) var(--Border);
		display: flex;
		justify-content: space-between;
		padding: 6px;
		border-radius: 0 0 var(--BorderRadius) var(--BorderRadius);
		overflow: clip;

		svg {
			color: var(--ColorBlue);
			height: 1.4rem;
			width: 1.4rem;
		}

		&__left {
			display: flex;
			gap: 0.2rem;
			overflow: clip;
		}

		&--collapsed {
			position: absolute;
			top: -0.6rem;
		}
	}

	&__slug {
		display: flex;
		align-items: center;
		padding: 0 6px;
		overflow: clip;
	}

	&:hover {
		//background-color: var(--ColorContainerLight);
		//transform: scale(1.01);
		//background-color: var(--ColorContainerLight);
		//font-weight: 700;
		color: #fff;
		h2 {
			color: var(--ColorSolidRed);
		}
		border: 1px solid var(--ColorAccent);
		z-index: 1000;
	}

	&__speed {
		position: relative;
		background-color: var(--ColorSolidRed);
		//padding: 0.1rem 0.2rem;
		border-radius: var(--BorderRadius);
		border: 1px solid var(--ColorSolidRed);
		color: var(--Background);
		svg {
			color: var(--Background) !important;
			width: 1rem;
			height: 1rem;
		}

		text-wrap: nowrap;
		text-overflow: ellipsis;
	}

	&__sanity {
		position: relative;
		background-color: var(--ColorSolidGreen);
		//padding: 0.1rem 0.2rem;
		border-radius: var(--BorderRadius);
		border: 1px solid var(--ColorSolidGreen);
		color: var(--Background);

		svg {
			color: var(--Background) !important;
			width: 1rem;
			height: 1rem;
		}
	}

	button {
		svg {
			color: var(--ColorAccent) !important;
		}
	}

	&--selected {
		border: 1px solid var(--ColorSolidGreen);
	}
}

.clue {
	padding: 0.1rem 0.1rem;
	width: 2rem;
	height: 2rem;
	border-radius: var(--BorderRadius);
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid var(--ColorBlue);
	background-color: var(--ColorBlue);

	svg {
		color: var(--Background);
		width: 1rem;
		height: 1rem;
	}
}
