.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color: var(--ColorContainer);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  padding: 1rem;
  z-index: 100;
}
@media (min-width: 1224px) {
  .header {
    border-radius: var(--BorderRadius);
    width: calc(100% - 2rem);
    margin: 0 auto;
    margin-top: 1rem;
    border: 1px solid var(--ColorOutline);
    position: fixed;
    top: 0rem;
    left: 1rem;
    width: calc(100% - 2rem);
  }
}
.header h1 {
  font-weight: 900;
  font-size: 20px;
}
.header__branding {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
.header__branding svg {
  color: var(--ColorBlue);
  width: 2.2rem;
  height: 2.2rem;
}
.header Button {
  z-index: 100;
}
.header__navigation {
  position: absolute;
  right: 1rem;
  top: 5rem;
  padding: 1rem;
  border-radius: var(--BorderRadius);
  display: flex;
  flex-direction: column;
  background-color: var(--ColorContainer);
  border: 1px solid var(--ColorOutline);
  color: var(--ColorText);
}
.header__navigation svg {
  color: var(--ColorBlue);
}
@media (min-width: 1224px) {
  .header__navigation {
    position: fixed;
    top: 6rem;
    left: 1rem;
    max-width: 16rem;
    border-style: none;
    box-shadow: none;
    border: 1px solid var(--ColorOutline);
  }
}