.objective-tile {
	user-select: none;
	cursor: pointer;
	display: flex;
	gap: 0.4rem;
	justify-content: space-between;
	align-content: center;
	align-items: center;
	border: 1px solid transparent;
	border-radius: var(--BorderRadius);
	padding: 0px 2px;
	width: 100%;

	&:hover {
		color: var(--ColorAccent);
		border: 1px solid var(--ColorAccent);
	}

	label {
		width: 100%;
		cursor: pointer;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	font-weight: 500;

	&__left {
		display: flex;
		gap: 0.4rem;
		align-items: center;
		flex: 1;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	&__right {
		button {
			max-width: 2rem;
			max-height: 2rem;
			padding: 0.2rem;

			svg {
				width: 1.2rem;
				height: 1.2rem;
				color: var(--ColorAccent);
			}
		}
	}
}

.objective-container {
	display: flex;
	align-items: center;
	width: 100%;
	align-items: center;
}
