.objective-tile {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  display: flex;
  gap: 0.4rem;
  color: #fff;
  font-weight: 500;
}
.objective-tile:hover {
  color: var(--ColorBlue);
}
.objective-tile label {
  cursor: pointer;
}
.objective-tile__left {
  display: flex;
  gap: 0.4rem;
  align-items: center;
}