.objective-tile {
	user-select: none;
	cursor: pointer;
	display: flex;
	gap: 0.4rem;

	color: #fff;

	&:hover {
		color: var(--ColorBlue);
	}

	label {
		cursor: pointer;
	}

	font-weight: 500;

	&__left {
		display: flex;
		gap: 0.4rem;
		align-items: center;
	}
}
