.objective-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  padding: 1rem;
  align-items: flex-start;
}
.objective-wrapper a {
  margin-top: 1rem;
  text-align: right;
  width: 100%;
}