@import "../../../node_modules/gerillass/scss/gerillass";

.rss-container {
	margin-top: 2rem;
	display: flex;
	flex-direction: column;
	gap: 1.4rem;
	width: fit-content;
	margin: 0 auto;
	max-width: 100%;
	@include breakpoint(min, 1224px) {
	}
}
