.rss-tile {
  background-color: var(--ColorContainer);
  border-radius: var(--BorderRadius);
  padding: 1rem;
  border: 1px solid var(--ColorOutline);
  font-size: 14px;
  display: flex;
  flex-direction: column-reverse;
  gap: 1rem;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  height: -moz-fit-content;
  height: fit-content;
}
.rss-tile__content {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1rem;
}
.rss-tile__date-block {
  display: flex;
}
.rss-tile:hover {
  background-color: var(--ColorContainerLight);
}
.rss-tile__news {
  border-radius: var(--BorderRadius);
  overflow: clip;
}
.rss-tile__news img {
  width: 100%;
}
@media (min-width: 1224px) {
  .rss-tile__news {
    width: 100%;
  }
}
.rss-tile__large {
  border-radius: var(--BorderRadius);
  overflow: clip;
}
@media (min-width: 1244px) {
  .rss-tile__large {
    width: 100%;
  }
}