@import "../../../node_modules/gerillass/scss/gerillass";

.rss-tile {
	background-color: var(--ColorContainer);
	border-radius: var(--BorderRadius);
	padding: 1rem;
	border: 1px solid var(--ColorOutline);
	font-size: 14px;

	&__content {
		display: flex;
		flex-direction: column;
		flex: 1;
		gap: 1rem;
	}

	display: flex;
	flex-direction: column-reverse;
	gap: 1rem;
	cursor: pointer;
	user-select: none;

	@include breakpoint(min, 1224px) {
		//flex-direction: row;
		//gap: 4rem;
	}

	&__date-block {
		display: flex;
	}

	&:hover {
		background-color: var(--ColorContainerLight);
	}

	&__news {
		border-radius: var(--BorderRadius);
		overflow: clip;
		img {
			width: 100%;
		}

		@include breakpoint(min, 1224px) {
			width: 100%;
		}
	}

	&__large {
		border-radius: var(--BorderRadius);
		overflow: clip;

		@include breakpoint(min, 1244px) {
			width: 100%;
		}
	}
	height: fit-content;
}
