.spectra {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background-color: var(--ColorBlue);
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid var(--ColorOutline);
}
.spectra svg {
  color: var(--Background);
  height: 1.6rem;
  width: 1.6rem;
}
.spectra:hover {
  background-color: #000;
}
.spectra:hover svg {
  color: #fff;
}